# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDxxxxxxxxxxxxxxxxxx
VITE_FIREBASE_AUTH_DOMAIN=fut-manager-xxxxxx.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fut-manager-xxxxxx
VITE_FIREBASE_STORAGE_BUCKET=fut-manager-xxxxxx.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1234567890
VITE_FIREBASE_APP_ID=1:1234567890:web:abcdefghijk

# App
VITE_APP_NAME=FutManager
VITE_APP_VERSION=2.0.0
